{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "crlf"
}
